div#users-container { display: grid; gap: 1rem; margin-top: 1rem; font-family: "sans-serif" }
div#users-container div { padding: 1rem; border: 1px solid #ccc; border-radius: 8px;}
div#users-container div span { color: #666;}
div.contenedor button { padding: 0.5rem 1rem; cursor: pointer; margin-bottom: 1rem; }